body {
  background: #ffffff;
  font-family: 'expressway';
  color: #000000;
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  color: #ffffff;
}
ul {
  list-style-type: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_assets/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'expressway';
  src: url('../_assets/fonts/expressway_rg-webfont.eot');
  src: url('../_assets/fonts/expressway_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../_assets/fonts/expressway_rg-webfont.woff') format('woff'), url('../_assets/fonts/expressway_rg-webfont.ttf') format('truetype'), url('../_assets/fonts/expressway_rg-webfont.svg#expressway_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn-gold {
  color: #ffffff;
  background: #8cc63f;
}
.btn-silver {
  color: #000000;
  font-weight: bold;
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}
.error,
.red {
  color: #ed0000;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.yellow-text {
  color: #ffd441 !important;
}
.normal-white-space {
  white-space: normal !important;
}
.span-link {
  color: #ed0000;
  cursor: pointer;
}
.span-link:hover {
  text-decoration: underline;
}
a {
  cursor: pointer;
}
a.red-link {
  color: #ed0000;
}
a.gold-btn {
  color: #000000;
}
a.white-link {
  color: #ffffff !important;
  text-decoration: underline;
}
a.yellow-link {
  color: #ffd441 !important;
  text-decoration: underline;
}
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
.form-group > span {
  vertical-align: bottom;
}
.generic-page-wrapper .generic-page-inner {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  color: #000000;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .generic-page-wrapper .generic-page-inner {
    width: 100%;
  }
}
a {
  color: #ed0000;
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .content-inner {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}
.home-page-inner {
  margin-top: 10px;
}
.store-location-area {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .store-location-area {
    display: block;
  }
}
.store-location-area .store-location-left {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
@media only screen and (max-width: 1000px) {
  .store-location-area .store-location-left {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.store-location-area .store-location-right {
  display: table-cell;
  vertical-align: bottom;
  width: 50%;
}
@media only screen and (max-width: 679px) {
  .store-location-area .store-location-right {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 1000px) {
  .store-location-area .store-location-right {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content {
  width: 100%;
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-top {
  background: #ffffff;
  padding: 14px;
  overflow: hidden;
}
@media only screen and (max-width: 630px) {
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-top > span {
    text-align: center;
    display: block;
    margin: 0 auto;
    float: none !important;
  }
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom {
  display: table;
  width: 100%;
  background: #ffffff;
  padding: 14px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-left,
.store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
@media only screen and (max-width: 679px) {
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-left,
  .store-details-wrapper .store-details-inner .store-details-inner-container .store-details-content section.store-details-content-bottom-right {
    display: block;
    width: 100%;
  }
}
section.account-page-top {
  text-align: center;
}
.contact-us-wrapper .contact-us-inner {
  margin-top: 26px;
}
.contact-us-wrapper .contact-us-inner .contact-us-inner-container {
  display: table;
  width: 100%;
}
.contact-us-wrapper .contact-us-inner .contact-us-inner-container .contact-us-content {
  display: table-cell;
  padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .contact-us-wrapper .contact-us-inner .contact-us-inner-container .contact-us-content {
    display: block;
    padding-right: 0;
  }
}
.contact-us-sidebar {
  width: 258px;
  display: table-cell;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .contact-us-sidebar {
    display: none;
  }
}
.create-account-wrapper .create-account-inner .create-account-inner-container {
  display: table;
  width: 100%;
}
.create-account-wrapper .create-account-inner .create-account-inner-container .create-account-content {
  display: table-cell;
  padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .create-account-wrapper .create-account-inner .create-account-inner-container .create-account-content {
    display: block;
    padding-right: 0;
  }
}
.create-account-sidebar {
  width: 258px;
  display: table-cell;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .create-account-sidebar {
    display: block;
    width: 100%;
  }
}
.account-page-wrapper .account-page-inner .account-page-bottom {
  background: #ffffff;
  margin-top: 23px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media only screen and (max-width: 595px) {
  .account-page-wrapper .account-page-inner .account-page-bottom.account-page-bottom-addresses-stores {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media only screen and (max-width: 585px) {
  .account-page-wrapper .account-page-inner .account-page-bottom.account-page-bottom-favorite-orders {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner {
  display: table;
  width: 100%;
}
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area {
  display: table;
  margin: 0 auto;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area {
    width: 100%;
  }
}
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area .my-addresses-stores-left,
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area .my-addresses-stores-right {
  display: table-cell;
  width: 50%;
}
@media only screen and (max-width: 595px) {
  .account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area .my-addresses-stores-left,
  .account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-addresses-stores-area .my-addresses-stores-right {
    display: block;
    width: 100%;
  }
}
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-favorite-orders-area {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-order-history-area {
  display: table;
  width: 80%;
  margin: 0 auto;
  padding: 14px;
}
@media only screen and (max-width: 500px) {
  .account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-order-history-area {
    display: block;
  }
}
@media only screen and (max-width: 679px) {
  .account-page-wrapper .account-page-inner .account-page-bottom .account-page-bottom-inner.my-order-history-area {
    width: 100%;
  }
}
.login-account-wrapper .login-account-inner {
  margin-top: 77px;
}
.login-account-wrapper .login-account-inner .login-account-inner-container {
  display: table;
  width: 100%;
}
.login-account-wrapper .login-account-inner .login-account-inner-container .login-account-content {
  display: table-cell;
  padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .login-account-wrapper .login-account-inner .login-account-inner-container .login-account-content {
    display: block;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.login-account-wrapper .login-account-inner .login-account-inner-container .login-account-content .login-account-content-inner {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.login-account-wrapper .login-account-inner .login-account-inner-container .login-account-sidebar {
  width: 258px;
  display: table-cell;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .login-account-wrapper .login-account-inner .login-account-inner-container .login-account-sidebar {
    display: block;
    width: 100%;
  }
}
.header {
  width: 100%;
  max-width: 1024px;
  margin-bottom: 20px;
}
.header__mobile-only {
  display: none;
}
@media only screen and (max-width: 679px) {
  .header__mobile-only {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  }
  .header__mobile-only header.main {
    height: 55px;
    background: #ffffff;
  }
  .header__mobile-only header.main > span {
    float: left;
  }
  .header__mobile-only header.main > span.mobile-nav {
    margin-left: 2%;
    width: 18%;
    text-align: left;
    margin-top: 12px;
  }
  .header__mobile-only header.main > span.mobile-logo {
    width: 60%;
    text-align: center;
    margin-top: 9px;
  }
  .header__mobile-only header.main > span.mobile-logo img.company_logo {
    height: 32px;
  }
  .header__mobile-only header.main > span.mobile-basket {
    margin-right: 2%;
    width: 18%;
    text-align: right;
    margin-top: 12px;
  }
  .header__mobile-only header.main > span.mobile-basket span.text {
    position: relative;
    left: -2px;
  }
  .header__mobile-only header.main > span.mobile-basket .cart-item-count {
    width: 16px;
    height: 16px;
    font-size: 11px;
    color: #ffffff;
    line-height: 16px;
    text-align: center;
    background: #000000;
    top: 5px;
    right: 0;
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .header__mobile-only header.main > span span.text {
    font-size: 9px;
    text-transform: uppercase;
    color: #510000;
    display: block;
  }
}
.header__desktop-only {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  border-radius: 0 0 5px 5px;
  display: block;
}
@media only screen and (max-width: 679px) {
  .header__desktop-only {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header__desktop-only {
    width: 100%;
  }
}
.header__desktop-only header.main {
  height: 70px;
  background: #ffffff;
  padding: 0 18px;
}
.header__desktop-only header.main .company_logo {
  margin-top: 16px;
  width: 250px;
}
.header__desktop-only header.main .header-links {
  line-height: 70px;
}
.header__desktop-only header.main .header-links a {
  padding: 5px 8px;
  background: #ffffff;
  margin-right: 5px;
  color: #575757;
}
.header__desktop-only header.main .header-links a:hover {
  text-decoration: none;
}
.header__desktop-only header.main .header-links a:last-child {
  margin-right: 0;
}
.header__desktop-only header.main .header-links a.welcome-user {
  background: transparent;
}
.header__desktop-only header.main .header-links a.header-basket {
  background: transparent;
  padding: 0;
  position: relative;
  top: -2px;
}
.header__desktop-only header.main .header-links a.header-basket .cart-item-count {
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  background: #000000;
  top: -5px;
  right: -16px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header__desktop-only nav.main-nav {
  background: #00853e;
  border-radius: 0 0 5px 5px;
  height: 38px;
  position: relative;
}
.header__desktop-only nav.main-nav .nav {
  float: left;
}
.header__desktop-only nav.main-nav .nav > li {
  border-right: 1px solid #ffffff;
}
.header__desktop-only nav.main-nav .nav > li a {
  padding: 7px 20px;
  font-size: 17px;
  color: #ffffff;
}
.header__desktop-only nav.main-nav .nav > li a.deals {
  border-radius: 0 0 0 4px;
  background: #1c1c1c;
  background: -moz-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1c1c1c), color-stop(12%, #1f1f1f), color-stop(25%, #242424), color-stop(39%, #1a1a1a), color-stop(50%, #0f0f0f), color-stop(51%, #000000), color-stop(60%, #050505), color-stop(76%, #0f0f0f), color-stop(91%, #0a0a0a), color-stop(100%, #050505));
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -o-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: -ms-linear-gradient(top, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  background: linear-gradient(to bottom, #1c1c1c 0%, #1f1f1f 12%, #242424 25%, #1a1a1a 39%, #0f0f0f 50%, #000000 51%, #050505 60%, #0f0f0f 76%, #0a0a0a 91%, #050505 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#050505', GradientType=0);
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu {
  background-color: #ca1900;
  margin: -1px 0px 0px -3px;
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu a {
  color: #ffffff;
  font-size: 15px;
}
.header__desktop-only nav.main-nav .nav > li ul.dropdown-menu a:hover {
  background: #971300;
}
.footer {
  width: 100%;
}
.footer .copyright {
  padding-top: 10px;
}
.footer .copyright__text {
  text-align: center;
}
h1.page-heading__primary-heading {
  font-size: 30px;
  margin-top: 0;
}
h1.page-heading__primary-heading-account {
  font-size: 22px;
  margin-top: 18px;
}
.page-description__text {
  font-size: 12px;
  color: gray;
}
.account-navigation__links-group {
  display: inline-block;
}
@media only screen and (max-width: 400px) {
  .account-navigation__links-group {
    width: 98%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 679px) {
  .account-navigation__links-group {
    width: 48%;
  }
}
.account-navigation a {
  background: #ffffff;
  color: #00853e;
  margin: 0 2px;
}
.account-navigation a.btn:focus,
.account-navigation a.btn:active,
.account-navigation a.btn:hover {
  color: #00853e;
}
.account-navigation a.account-navigation__links-link__active {
  color: #ffffff;
  background: #00853e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.account-navigation a.account-navigation__links-link__active.btn:focus,
.account-navigation a.account-navigation__links-link__active.btn:active,
.account-navigation a.account-navigation__links-link__active.btn:hover {
  color: #ffffff;
}
@media only screen and (max-width: 679px) {
  .account-navigation a {
    width: 99%;
    margin-bottom: 7px;
  }
}
.promo {
  min-height: 320px;
}
.promo__image img {
  width: 100%;
  max-height: 320px;
}
@media only screen and (max-width: 768px) {
  .promo__image img {
    height: auto;
  }
}
.store-location-search__title {
  font-size: 16px;
}
.store-location-search__form .form-control {
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .store-location-search__form .form-control {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 95% !important;
  }
}
.store-location-search__form .form-control.cityLocation {
  width: 140px;
}
.store-location-search__form .form-control.select-state-location {
  width: auto;
}
.store-location-search__form .form-control.zipCodeLocation {
  width: 86px;
}
.store-location-search__form .store-location-or-splitter {
  margin: 0 5px;
}
.store-location-search__form button.btn-gold {
  vertical-align: top;
}
@media only screen and (max-width: 500px) {
  .store-location-search__form button.btn-gold {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
  }
}
.store-location-pickup-delivery-info {
  font-size: 14px;
  text-align: center;
}
.store-location-pickup-delivery-info__pickup__text-large,
.store-location-pickup-delivery-info__delivery__text-large {
  font-size: 22px;
}
.mobile-stack-navigation__list {
  padding: 0;
  clear: both;
}
.mobile-stack-navigation__list li {
  width: 100%;
  height: 40px;
  background: #00853e;
  font-size: 17px;
  border-bottom: 1px solid #ffffff;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}
.mobile-stack-navigation__list li a {
  color: #ffffff;
}
.mobile-stack-navigation__list.mobile-only {
  display: none;
}
@media only screen and (max-width: 679px) {
  .mobile-stack-navigation__list.mobile-only {
    display: block;
  }
}
.store-address {
  margin: 30px 0;
}
.store-address__label {
  float: left;
  color: gray;
  width: 20%;
}
@media only screen and (max-width: 425px) {
  .store-address__label {
    display: none;
  }
}
.store-address__location {
  font-weight: bold;
  margin-left: 21%;
}
@media only screen and (max-width: 425px) {
  .store-address__location {
    text-align: center;
    margin: 0 auto;
  }
}
.store-address__links {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 425px) {
  .store-address__links {
    white-space: nowrap;
  }
}
.store-hours {
  font-size: 13px;
}
@media only screen and (max-width: 360px) {
  .store-hours {
    font-size: 11px;
  }
}
.store-hours__list > li {
  display: table;
  width: 100%;
}
.store-hours__list > li > span {
  display: table-cell;
}
.store-hours__list-label-day,
.store-hours__list-day {
  max-width: 100px;
  width: 20%;
}
.store-hours__list-label-pickup,
.store-hours__list-label-delivery {
  font-weight: bold;
  max-width: 175px;
  width: 36%;
}
.store-hours__list-pickup,
.store-hours__list-delivery {
  max-width: 175px;
  width: 36%;
}
.store-map__inner {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 420px;
}
@media only screen and (max-width: 679px) {
  .store-map__inner {
    max-width: none;
  }
}
.store-map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.store-services {
  margin: 30px 0;
  font-size: 13px;
}
.store-services__details {
  margin-left: 40px;
  font-weight: bold;
}
.store-services-quick-order__title {
  font-size: 20px;
  color: #000000;
  vertical-align: middle;
  float: left;
}
.store-services-quick-order__buttons {
  margin-left: 15px;
  float: left;
}
@media only screen and (max-width: 630px) {
  .store-services-quick-order__buttons {
    margin: 5px 0 12px 0 !important;
  }
}
.store-services-quick-order__buttons-button {
  width: 120px;
}
.store-services-quick-order__buttons-button.delivery-btn {
  margin-right: 15px;
}
.my-account-information {
  display: table-cell;
  background: #222;
  width: 200px;
  min-width: 200px;
  vertical-align: top;
  padding: 14px 11px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media only screen and (max-width: 695px) {
  .my-account-information {
    display: block;
    width: 100%;
  }
}
.my-account-information__name {
  font-size: 17px;
  margin-bottom: 4px;
}
.my-account-information__contact-area {
  font-size: 13px;
  line-height: 16px;
}
@media only screen and (max-width: 695px) {
  .my-account-information__contact-area {
    display: inline-block;
    float: left;
    margin-bottom: 18px;
  }
}
.my-account-information__edit-account-btn {
  background: #000000;
  color: yellow !important;
  font-size: 12px;
  margin: 18px 0 18px;
  width: 100%;
}
@media only screen and (max-width: 695px) {
  .my-account-information__edit-account-btn {
    width: auto;
    margin: 0 0 0 25px;
    float: right;
  }
}
.my-account-payment-area {
  padding: 14px;
  display: table;
  width: 100%;
}
.my-account-payment-left {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #ccc;
}
@media only screen and (max-width: 495px) {
  .my-account-payment-left {
    display: block;
    width: 100%;
    border: 0;
  }
}
.my-account-payment-cards__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px;
}
@media only screen and (max-width: 495px) {
  .my-account-payment-cards__title {
    text-align: center;
  }
}
.my-account-payment-cards__list-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  max-width: 300px;
}
@media only screen and (max-width: 495px) {
  .my-account-payment-cards__list-item {
    max-width: none;
  }
}
.my-account-payment-cards__list-item:last-child {
  border: 0;
}
.my-account-payment-cards__list-item-image {
  display: inline-block;
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}
.my-account-payment-cards__list-item-ending-in {
  font-weight: bold;
  font-size: 13px;
}
.my-account-payment-cards__list-item-actions {
  font-weight: normal;
  font-size: 11px;
}
.my-account-payment-cards__list-item-actions a {
  color: #ed0000;
}
.my-account-payment-cards__list-item-full-name,
.my-account-payment-cards__list-item-expiration {
  color: gray;
  font-size: 11px;
}
.my-account-payment-right {
  display: table-cell;
  width: 50%;
  padding-left: 20px;
}
@media only screen and (max-width: 495px) {
  .my-account-payment-right {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
.my-account-payment .add-credit-card-form {
  display: none;
}
.my-account-payment .add-credit-card-form-group {
  margin-bottom: 11px;
}
.my-account-payment .add-credit-card-form label {
  display: block;
}
.my-account-payment .add-credit-card-form__credit-card-type {
  width: auto;
  display: block;
  margin-bottom: 5px;
}
@media only screen and (max-width: 495px) {
  .my-account-payment .add-credit-card-form__credit-card-type {
    width: 100%;
  }
}
.my-account-payment .add-credit-card-form__credit-card-expiration-month,
.my-account-payment .add-credit-card-form__credit-card-expiration-year {
  width: 100px;
  display: inline-block;
  margin-bottom: 5px;
}
.my-account-payment .add-credit-card-form input {
  width: 270px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 845px) {
  .my-account-payment .add-credit-card-form input {
    width: 100%;
  }
}
.my-saved-addresses {
  border-right: 1px solid #ccc;
  padding: 14px 20px 20px 14px;
}
@media only screen and (max-width: 595px) {
  .my-saved-addresses {
    border: 0;
  }
}
.my-saved-addresses a {
  color: #ed0000;
}
.my-saved-addresses a:hover,
.my-saved-addresses a:active,
.my-saved-addresses a:focus {
  color: #ed0000;
}
.my-saved-addresses__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px;
}
.my-saved-addresses__actions {
  font-weight: normal;
  float: right;
}
.my-saved-addresses__list > li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  min-height: 102px;
}
.my-saved-addresses__list > li .my-saved-addresses__number {
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  background: #000000;
  float: left;
  position: relative;
  margin-right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.my-saved-addresses__list > li .my-saved-addresses__location {
  margin-left: 35px;
  font-size: 12px;
  color: gray;
}
.my-saved-addresses__add-address-btn {
  margin-left: 35px;
}
.my-favorite-stores {
  padding: 14px 20px 20px 14px;
}
@media only screen and (max-width: 595px) {
  .my-favorite-stores {
    border: 0;
  }
}
.my-favorite-stores a {
  color: #ed0000;
}
.my-favorite-stores a:hover,
.my-favorite-stores a:active,
.my-favorite-stores a:focus {
  color: #ed0000;
}
.my-favorite-stores__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 14px;
}
.my-favorite-stores__store-title {
  font-weight: bold;
}
.my-favorite-stores__actions {
  font-weight: normal;
  float: right;
}
.my-favorite-stores__list > li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  min-height: 102px;
}
.my-favorite-stores__list > li .my-favorite-stores__number {
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  background: #000000;
  float: left;
  position: relative;
  margin-right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.my-favorite-stores__list > li .my-favorite-stores__location {
  margin-left: 35px;
  font-size: 12px;
  color: gray;
}
.my-favorite-stores__add-store-btn {
  margin-left: 35px;
}
.my-favorite-orders__item {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 14px 20px 14px 14px;
}
@media only screen and (max-width: 585px) {
  .my-favorite-orders__item {
    display: block;
    width: 100%;
    border-top: 18px solid #ffffff;
  }
  .my-favorite-orders__item:first-child {
    border-top: 0;
  }
}
.my-favorite-orders__item:last-child {
  border-right: 0;
}
.my-favorite-orders__item-row {
  display: table-row;
  width: 100%;
  border-bottom: 30px solid #ffffff;
}
.my-favorite-orders__date-time-bar {
  float: left;
}
@media only screen and (max-width: 400px) {
  .my-favorite-orders__date-time-bar {
    float: none;
  }
}
@media only screen and (min-width: 586px) and (max-width: 855px) {
  .my-favorite-orders__date-time-bar {
    float: none;
  }
}
.my-favorite-orders__date-time {
  font-weight: bold;
}
.my-favorite-orders__actions {
  margin-left: 10px;
  font-size: 12px;
}
.my-favorite-orders__re-order-btn {
  float: right;
}
@media only screen and (max-width: 400px) {
  .my-favorite-orders__re-order-btn {
    float: none;
    margin: 8px 0;
  }
}
@media only screen and (min-width: 586px) and (max-width: 855px) {
  .my-favorite-orders__re-order-btn {
    float: none;
    margin: 8px 0;
  }
}
.my-favorite-orders__list-item {
  clear: both;
  min-height: 70px;
  margin-bottom: 10px;
}
.my-favorite-orders__list-item-image {
  max-height: 70px;
}
.my-favorite-orders__list-item-image-area {
  text-align: center;
  float: left;
  width: 82px;
}
.my-favorite-orders__list-item-text-area {
  margin-left: 100px;
}
.my-favorite-orders__list-item-title {
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
}
.my-favorite-orders__list-item-description-line {
  vertical-align: top;
  color: #ccc;
  font-size: 12px;
}
.my-order-history-area-top {
  width: 550px;
  margin: 0 auto;
}
@media only screen and (max-width: 440px) {
  .my-order-history-area-top {
    width: 98%;
  }
}
@media only screen and (min-width: 441px) and (max-width: 679px) {
  .my-order-history-area-top {
    width: 86%;
  }
}
@media only screen and (max-width: 440px) {
  .my-order-history-time-range-form label {
    font-size: 12px;
  }
}
.my-order-history-time-range-form__time-range {
  width: 175px;
  display: inline-block;
  margin-left: 25px;
}
@media only screen and (max-width: 440px) {
  .my-order-history-time-range-form__time-range {
    width: 150px;
    margin-left: 2px;
  }
}
.my-order-history-time-range-form__tip {
  font-size: 12px;
}
.my-order-history__panel {
  position: relative;
}
.my-order-history__panel-heading {
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
}
.my-order-history__panel-heading.collapsed .my-order-history__panel-title:before {
  content: "[ + ]" !important;
}
.my-order-history__panel-title:before {
  position: absolute;
  left: 5px;
  content: "[ - ]";
}
.my-order-history__item-top-area {
  display: table;
  width: 100%;
}
.my-order-history__date-time-bar {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 30px;
}
@media only screen and (max-width: 370px) {
  .my-order-history__date-time-bar {
    display: block;
  }
}
.my-order-history__date-time {
  margin-bottom: 2px;
}
.my-order-history__re-order-btn {
  display: table-cell;
  vertical-align: top;
  width: 136px;
  cursor: pointer;
  float: right;
}
@media only screen and (max-width: 370px) {
  .my-order-history__re-order-btn {
    display: block;
    margin-top: 8px;
  }
}
.my-order-history__list-item {
  clear: both;
  min-height: 70px;
  margin-bottom: 10px;
}
.my-order-history__list-item-image {
  max-height: 70px;
}
.my-order-history__list-item-image-area {
  text-align: center;
  float: left;
  width: 82px;
}
.my-order-history__list-item-text-area {
  margin-left: 100px;
}
.my-order-history__list-item-title {
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
}
.my-order-history__list-item-description-line {
  vertical-align: top;
  color: #ccc;
  font-size: 12px;
  max-width: 300px;
}
.contact-us-form .form-control {
  margin-bottom: 5px;
}
.contact-us-form .form-group {
  display: inline-block;
}
.contact-us-form .form-group label {
  white-space: nowrap;
}
.contact-us-form .form-group > span {
  display: inline-block;
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .contact-us-form .form-group > span {
    width: 100% !important;
    display: block;
  }
}
.contact-us-form .form-group-full-name,
.contact-us-form .form-group-email-phone,
.contact-us-form .form-group-address,
.contact-us-form .form-group-description {
  width: 100%;
}
.contact-us-form__tip {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}
.contact-us-form__first-name-area,
.contact-us-form__last-name-area,
.contact-us-form__email-address-area,
.contact-us-form__phone-number-area {
  width: 48%;
}
.contact-us-form__city-address-area,
.contact-us-form__state-address-area,
.contact-us-form__zip-code-address-area {
  width: 30%;
}
.contact-us-form__street-address-area {
  display: block;
  width: 98%;
  margin-bottom: 15px;
}
.contact-us-form__description-area {
  width: 98%;
}
.contact-us-form__description-area textarea {
  max-width: 735px;
}
.contact-us-form__submit-btn-area {
  text-align: center;
}
.quick-links {
  background: #222;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 258px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media only screen and (max-width: 768px) {
  .quick-links {
    width: 100%;
  }
}
.quick-links__title {
  font-size: 18px;
  padding-bottom: 10px;
}
.quick-links__list {
  list-style-position: inside;
  list-style-type: disc;
}
.quick-links__list li {
  font-size: 12px;
  margin-bottom: 8px;
}
.quick-links__list li a {
  color: #ffffff;
}
.create-account-form .form-control {
  margin-bottom: 5px;
}
.create-account-form .form-group {
  display: inline-block;
}
.create-account-form .form-group label {
  white-space: nowrap;
}
.create-account-form .form-group > span {
  display: inline-block;
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .create-account-form .form-group > span {
    width: 100% !important;
    display: block;
  }
}
.create-account-form .form-group-full-name,
.create-account-form .form-group-email,
.create-account-form .form-group-phone,
.create-account-form .form-group-password,
.create-account-form .form-group-address,
.create-account-form .form-group-description {
  width: 100%;
}
.create-account-form .form-group-terms-checkbox-area label {
  white-space: normal;
}
.create-account-form__first-name-area,
.create-account-form__last-name-area,
.create-account-form__email-address-area,
.create-account-form__email-address-confirm-area,
.create-account-form__password-area,
.create-account-form__password-confirm-area,
.create-account-form__phone-number-area {
  width: 48%;
}
.create-account-form__city-address-area,
.create-account-form__state-address-area,
.create-account-form__zip-code-address-area {
  width: 30%;
}
.create-account-form__street-address-area,
.create-account-form__location-name-address-area {
  display: block;
  width: 98%;
  margin-bottom: 15px;
}
.create-account-form__submit-btn-area {
  text-align: left;
}
.create-account-tips {
  background: #222;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 258px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media only screen and (max-width: 768px) {
  .create-account-tips {
    width: 100%;
  }
}
.create-account-tips__title {
  font-size: 18px;
  padding-bottom: 10px;
}
.create-account-tips__list {
  list-style-position: inside;
  list-style-type: disc;
}
.create-account-tips__list li {
  font-size: 12px;
  margin-bottom: 8px;
}
.edit-account-form .form-control {
  margin-bottom: 5px;
}
.edit-account-form .form-group {
  display: inline-block;
}
.edit-account-form .form-group label {
  white-space: nowrap;
}
.edit-account-form .form-group > span {
  display: inline-block;
  margin-right: 10px;
}
@media only screen and (max-width: 500px) {
  .edit-account-form .form-group > span {
    width: 100% !important;
    display: block;
  }
}
.edit-account-form .form-group-full-name,
.edit-account-form .form-group-email-password,
.edit-account-form .form-group-phone {
  width: 100%;
}
.edit-account-form__password-area {
  vertical-align: top !important;
}
.edit-account-form__password-change-link {
  color: #ed0000 !important;
  line-height: 32px;
}
.edit-account-form__first-name-area,
.edit-account-form__last-name-area,
.edit-account-form__email-address-area,
.edit-account-form__password-area,
.edit-account-form__phone-number-area {
  width: 48%;
}
.edit-account-form__submit-btn-area {
  text-align: left;
}
.guest-create-account {
  padding: 14px 14px 25px 14px;
  border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 405px) {
  .guest-create-account {
    padding-bottom: 5px;
  }
}
.guest-create-account__title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 16px;
}
.guest-create-account__actions {
  margin: 26px 0 11px 0;
}
.guest-create-account__create-account-btn a {
  text-color: #ffffff;
}
@media only screen and (max-width: 405px) {
  .guest-create-account__create-account-btn {
    display: block;
    width: 270px;
    margin-bottom: 16px;
  }
}
.sign-in {
  padding: 14px;
  margin-top: 12px;
}
@media only screen and (max-width: 405px) {
  .sign-in {
    padding-top: 0;
  }
}
.sign-in__title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 16px;
}
.sign-in-form {
  padding-top: 5px;
}
.sign-in-form label {
  font-weight: normal;
}
.sign-in-form .form-group {
  display: block;
  margin-bottom: 10px;
}
.sign-in-form .form-group > label {
  width: 164px;
}
@media only screen and (max-width: 840px) {
  .sign-in-form .form-group > label {
    display: block;
  }
}
.sign-in-form .form-group-remember-me-checkbox-area {
  margin-left: 168px;
  display: inline-block;
}
@media only screen and (max-width: 840px) {
  .sign-in-form .form-group-remember-me-checkbox-area {
    margin-left: 0;
  }
}
.sign-in-form .form-group-remember-me-checkbox-area label {
  font-size: 13px;
}
.sign-in-form__email-address,
.sign-in-form__password {
  width: 270px !important;
}
.sign-in-form__forgot-password-link {
  font-size: 11px;
  margin-left: 50px;
  color: #ed0000;
}
.sign-in-form__submit-btn {
  margin-left: 167px;
  width: 101px;
}
@media only screen and (max-width: 840px) {
  .sign-in-form__submit-btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 405px) {
  .sign-in-form__submit-btn {
    width: 270px;
  }
}
.forgot-password-form__password,
.forgot-password-form__password-new,
.forgot-password-form__password-new-confirm {
  width: 270px !important;
}
.change-password-form__password,
.change-password-form__password-new,
.change-password-form__password-new-confirm {
  width: 270px !important;
}
